@import "../imports/imports";

#banner {
  margin-top: 20px;
  .banner-sec {
    display: flex;
    align-items: center;
    justify-content: center;
    .heading {
      font-size: 3.75rem;
      line-height: 4.375rem;
      font-weight: 500;
      text-align: start;
      font-family: $primaryFont;
    }
    .sub-text {
      font-size: 1.5rem;
      text-align: start;
      font-family: $secondaryFont;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: start;
      button {
        margin-right: 10px;
      }
    }
    img {
      max-width: 100%;
    }
  }
}

#brands {
  margin-top: 80px;
  .heading {
    font-size: 2.25rem;
    line-height: 2.875rem;
    font-weight: 500;
    font-family: $primaryFont;
    text-align: center;
    margin-bottom: 20px;
  }
  .all-brands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  .button {
    margin-top: 60px;
    text-align: center;
  }
}

#rating {
  margin-top: 80px;
  .rating-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 2.5rem;
    height: 100%;
    margin-right: 20px;
    .box {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    h1 {
      text-align: start;
      font-size: 2.25rem;
      line-height: 2.875rem;
      font-weight: 500;
      font-family: $primaryFont;
      margin-bottom: 20px;
    }
    a {
      text-align: start;
    }
    .rated-img {
      height: auto;
      width: 30%;
    }
  }
}

#solution {
  margin-top: 100px;
  .heading {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.875rem;
    font-weight: 500;
    font-family: $primaryFont;
    margin-bottom: 20px;
  }
  .box1 {
    background-image: url("../../../public/assets/designer.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 450px;
    h2 {
      font-family: $primaryFont;
      font-weight: 500;
      margin-bottom: 0.25rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      margin-bottom: 2rem;
    }
    a {
      color: black;
    }
  }
  .box2 {
    background-image: url("../../../public/assets/executives.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 450px;
    h2 {
      font-family: $primaryFont;
      font-weight: 500;
      margin-bottom: 0.25rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      margin-bottom: 2rem;
    }
    a {
      color: black;
    }
  }
  .box3 {
    background-image: url("../../../public/assets/product.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 450px;
    h2 {
      font-family: $primaryFont;
      font-weight: 500;
      margin-bottom: 0.25rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      margin-bottom: 2rem;
    }
    a {
      color: black;
    }
  }
  .box4 {
    background-image: url("../../../public/assets/marketing.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 450px;
    h2 {
      font-family: $primaryFont;
      font-weight: 500;
      margin-bottom: 0.25rem;
      line-height: 2rem;
      font-size: 1.5rem;
    }
    p {
      font-weight: 400;
      margin-bottom: 2rem;
    }
    a {
      color: black;
    }
  }
}

#works {
  margin-top: 100px;
  .heading {
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.875rem;
    font-weight: 500;
    font-family: $primaryFont;
    margin-bottom: 40px;
  }
  .roadmap-area {
    .items {
      margin-bottom: 50px;
      .map-items {
        display: flex;
        align-items: center;
        gap: 50px;
        justify-content: space-evenly;
        margin-bottom: 50px;
        div {
          font-size: clamp(16px, 3vw, 20px);
          color: $primaryColor;
          font-family: $primaryFont;
          position: relative;
          cursor: pointer;
          opacity: 0.48;
          &::before {
            content: "";
            transform: translate(-50%, -50%);
            display: none;
          }
          &.active {
            opacity: 1;
            &::before {
              display: inline-flex;
            }
          }
        }
      }
      .map-item {
        display: flex;
        img {
          width: 500px;
        }
        h1 {
          font-family: $primaryFont;
          font-weight: 500;
          font-size: 2.25rem;
          color: $primaryColor;
          margin-bottom: 0.5rem;
          line-height: 2.875rem;
        }
        p {
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
        @media screen and (max-width: 768px) {
          flex-direction: column;
          img {
            width: 400px;
          }
        }
      }
    }
  }
  .button {
    margin-top: 60px;
    text-align: center;
  }
  @media screen and (max-width: 786px) {
    padding-top: 100px;
  }
}
